;;;                                                     -*- mode: emacs-lisp -*-

(blog-site-config
 `( :url       "www.glitzersachen.de/projects/orxite/example"
    :title     "Orxite Example"
    :sub-title "An example site for Orxite"
    :owner     "M E Leypold"

    :siteMenu  ( "About"        "site/about.html"
		 "Impressum"    "site/imprint.html"
		 "Datenschutz"  "site/dsgvo.html" )))
   

